.App {
  text-align: center;
}

.nav {
  background: #15171c;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-icon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-nav {
  /* background: #1aca6a;
   */

  background-color: #15171c;

  width: 15%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 350ms;
  z-index: 10;
}

.sidebar-nav::before {
  background-image: url('https://cdn.wallpapersafari.com/54/52/b1DSQ4.jpg');
  opacity: 0.5;
}

.sidebar-wrap {
  width: 100%;
}

.sidebar-link {
  display: flex;
  /* flex-direction: column; */
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 20px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-link:hover {
  background: #252831;
  border-left: 4px solid cyan;
  cursor: pointer;
}

.sidebar-label {
  margin-left: 16px;
}
