.App {
  text-align: center;
}

.nav {
  background: #15171c;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-icon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon:hover {
  color: cyan;
}

.sidebar-nav {
  background-color: #15171c;
  width: 15%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 500ms;
  z-index: 10;
}

/* .sidebar-nav::before {
  background-image: url('https://cdn.wallpapersafari.com/54/52/b1DSQ4.jpg');
  opacity: 0.5;
} */

.sidebar-wrap {
  width: 100%;
}

.sidebar-link {
  display: flex;
  /* flex-direction: column; */
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 20px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-link:hover {
  background: #252831;
  border-left: 4px solid cyan;
  cursor: pointer;
}

.sidebar-label {
  margin-left: 16px;
}

.footer {
  background: #abb2b9;
  padding: 2px;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}

.test {
  transition: 500ms;
  padding-left: 15%;
}
.test1 {
  transition: 500ms;
  /* padding-left: none; */
}

.search_wrap {
  position: relative;
  margin: 38px auto;
  width: 50%;
  height: 60px;
}

.input {
  height: 100%;
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  /* border-top-left-radius: 26px;
  border-bottom-left-radius: 26px; */
  border-radius: 26px;
  border-bottom: 3px solid #6a869f;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}

.input:hover,
.input:focus {
  border-color: green;
  background: #ebedef;
}

.search_box {
  display: flex;
}

.searchbtn {
  padding: 15px 20px;
  background: #6a869f;
  align-items: center;
  border-radius: 36px;
  transform: translate(-70%, 0%);
  border: white solid 2px;
}

.searchbtn:hover {
  transform: scale3d(2);
  background: #050505;
  color: #ffffff;
  box-shadow: #252831 2px;
}

/* .mt500 {
  margin-top: 500px;
} */
